<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .activate {
            border-radius: 40px;
            padding: 12px 24px;
            cursor: pointer;
            gap: 10px;
            background-color: #2E3EDF;
            color: white;
        }
        a{
            text-decoration: none;
            color: #2E3EDF;
            cursor: pointer;
        }
        img{
            height: 40px;
        }
    </style>
    <p>Hello</p>
    <p>We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:</p>
    <a class="activate" href="http://{{ domain }}{% url 'reset_password' uidb64=uid token=token %}">Reset Password</a>
    <p>Please note that for security reasons, this link is only valid for 24 hours.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Videoflix team!</p>
    <img src="cid:logo_cid" alt="">
</body>
</html>